span {
  margin: 0%;
  font-size: large;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 800px;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#home {
  height: 970px;
  border: 0 solid;
  background-image: url('estadio3.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
}

#historia {
  height: 670px;
  border: 0 solid;
  text-align: center;
  color: black;
}

#div-historia1 {
  border: 0 solid;
  float: left;
  width: 400px;
  height: 600px;
  margin: 50px 0 0 80px;
  text-align: left;
}

#div-historia2 {
  border: 0 solid;
  float: left;
  width: 800px;
  height: 400px;
  background-image: url('players.png');
  background-size: cover;
  border-radius: 5px;
  margin: 50px 0 0 50px;
}

#div-curiosidades1 {
  border: 0 solid;
  float: left;
  width: 800px;
  height: 1200px;
  background-image: url('maradona.png');
  background-size: cover;
  border-radius: 5px;
  margin: 50px 0 0 250px;
}

#div-curiosidades2 {
  border: 0 solid;
  float: left;
  width: 400px;
  height: 1600px;
  margin: 50px 0 0 150px;
}

#recordes {
  border: 1px solid;
  height: 970px;
  border: 0 solid;
  text-align: center;
}

#div-recordes1 {
  border: 0 solid;
  float: left;
  width: 450px;
  height: 800px;
  margin: 0 0 0 80px;
}

#div-recordes2 {
  border: 0 solid;
  float: left;
  width: 1200px;
  height: 800px;
  background-image: url('taca-bola.png');
  background-size: cover;
  border-radius: 5px;
  margin: 0 0 0 80px;
}

#div-penta {
  padding: 15px;
  text-align: left;
  color: #020024;
  border: 1px solid;
  float: left;
  height: 600px;
  width: 400px;
  margin: 100px 0 0 80px;
  border-radius: 5px;
  font-size: large;
  backdrop-filter: blur(10px);
  background-color: rgba(190, 244, 205, 0.3);
}

#curiosidades {
  border: 1px solid;
  height: 970px;
  border: 0 solid;
  text-align: center;
  margin-top: 50px;
}

#penta {
  height: 970px;
  border: 0 solid;
  background-image: url('penta.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: -1;
  position: relative;
  background-attachment: fixed;
  text-align: center;
  color: #ffffff;
}

.heads {
  text-align: center;
}

.class-curiosidades {
  font-family: Arial;
  font-weight: 900px;
  text-align: left;
  margin: 20px;
}

.class-recordes {
  font-family: Arial;
  font-weight: 900px;
  text-align: left;
  margin: 20px;
}

#h {
  padding-top: 250px;
  font-size: larger;
}

#video {
  width: 80px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #00cba9;
}

#logo {
  height: 45px;
  width: 40px;
}

@media screen and (max-width: 780px) {
  /* Divs Principais */
  #home {
    background-size: cover;
    height: 900px;
  }
  #historia {
    background-size: cover;
    height: 1050px;
  }
  #recordes {
    background-size: cover;
    height: 900px;
  }
  #curiosidades {
    background-size: cover;
    height: 1600px;
  }
  #penta {
    background-size: cover;
    height: 1000px;
  }
  /* Divs Internas */
  #div-penta {
    border: 1px solid;
    width: 300px;
    height: 750px;
    margin: 150px 0 0 30px;
  }
  #div-historia1 {
    /* border: 1px solid; */
    width: 300px;
    height: 800px;
    margin: 0 0 0 30px;
  }
  #div-historia2 {
    width: 350px;
    height: 200px;
    margin: 0 0 0 10px;
  }
  #div-recordes1 {
    /* border: 1px solid; */
    width: 300px;
    margin: 0 0 0 25px;
    height: 1150px;
  }
  #div-recordes2 {
    width: 350px;
    height: 200px;
    margin: 0 0 0 10px;
  }
  #div-curiosidades1 {
    width: 300px;
    height: 500px;
    margin: 0 0 0 30px;
  }
  #div-curiosidades2 {
    /* border: 1px solid; */
    width: 300px;
    height: 1700px;
    margin: 0 0 0 25px;
  }
}

/* Menu Inicio */
@import url(https://fonts.googleapis.com/css?family=Raleway);

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
}

* {
  /* font-family: 'Raleway'; */
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, #020024 0%, #00cba9 35%, #00d4ff 100%);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 1em;
  position: fixed;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-right: 150px;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 780px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}
/* Menu Final */

/* Div para fixar menu no topo */
#div-menu {
  position: fixed;
  width: 100%;
  background-color: #f1f1f1;
  /* padding: 10px; */
  z-index: 9999;
}
/* Final div para fixar menu no topo*/
